.about_us {
    padding:150px;
    margin: 0 auto;
    text-align: center;
}

.about_us--title {
    font-family: $font-second;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.about_us--text {
    font-size: 32px;
    line-height: 44px;
}