.header {
    background-color: $marsal;
    padding: 44px 0 36px;
}
.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: $pink;
}
.nav__list-item:hover{
    color: $white;
}
.header__logo-text {
    color: $pink;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__solials_list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}