.menu {
    background-color: $lightGrey;
    padding: 120px 0;
}
.menu-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}

.menu__board--title {
    font-family: $font-second;
    font-size: 18px;
    color: $grey;
    margin-bottom: 17px;
}
.menu__board--text {
    font-size: 32px;
    line-height: 44px;
    color: $grey;
    margin-bottom: 63px;
}
.menu__boards--list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menu__board-item {
    border: 2px solid $grey;
    color: $grey;
    text-align: center;
    padding: 17px 30px;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s ease-in;
    cursor: pointer;

    &:hover{
        background-color: $grey;
        color: $white;
    }
}